.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 100000;
}

.dialog-body {
  width: 9.5rem;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dialog-main {
  min-height: 4rem;
  text-align: justify;
  font-size: 0.48rem;
  line-height: 0.59rem;
  padding: 0.27rem;
  color: #333;
  letter-spacing: 0.053rem;
}

.dialog-main a{
  display:inline-block;
  width: 0.21rem;
  height: 0.59rem;
  border: 1px dashed #8DBFF4;
  vertical-align: middle;
  margin: 0 0.13rem 0.13rem 0.13rem;
  border-radius: 1px;
  background: #fff;
}

.dialog-main a:hover{
  background: #E6F2FF;
}

.dialog-main a.focus{
  border-color:#3187E4;
  background: #3187E4;
}

.dialog-button {
  padding: 0.2rem;
  box-sizing: border-box;
  border-top: 1px solid #000;
  text-align: center;
  overflow: hidden;
}

.dialog-button button {
  border: 1px solid #000;
  margin: 0 0.27rem;
  background: #fff;
  padding: 0.1rem 0.2rem;
  font-size: 0.37rem;
  display: block;
  float: right;
}