* {
  margin: 0;
  padding: 0;
}

main {
  width: 10rem;
  margin: 0 auto;
  font-size: 0.37rem;
  padding-bottom: 1rem;
}

.btns {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  padding: 0.27rem 0;
  text-align: center;
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.btns button {
  padding: 0.13rem 0.27rem;
  font-size: 0.43px;
  margin: 0 0.13rem;
  cursor: pointer;
  border: 1px solid #000;
  font-size: 0.43rem;
  background: #fff;
  border-radius: 0.15rem;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 0 0.4rem;
  margin-bottom: 0.27rem;
  padding-top: 2rem;
  border-bottom: 1px solid #000;
}

.textarea p {
  text-align: justify;
  margin-bottom: 0.3rem;
  font-size: 0.48rem;
  line-height: 0.75rem;
}

.tableBox {
  width: 10rem;
  overflow-x: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

table, th, td {
  border-bottom: 1px solid #000;
  border-collapse: collapse;
  font-size: 0.32rem;
  text-align: left;
}

table {
  width: 10rem;
}

td {
  text-align: justify;
}

table, th:first-child, td:first-child {
  border-left: 0;
}

table, th:last-child, td:last-child {
  border-right: 0;
}

th, td {
  padding: 5px;
  font-weight: normal;
}

caption {
  font-weight: bold;
  letter-spacing: 0.13rem;
}
